/**
 * Defines our initial grid context, including width, max-width, and padding
 * constraints based off of the given breakpoint.
 */
.bx--grid {
  width: 100%;
  max-width: 99rem;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 42rem) {
    .bx--grid {
      padding-right: 1rem;
      padding-left: 1rem; } }
  @media only screen and (min-width: 99rem) {
    .bx--grid {
      padding-right: 2rem;
      padding-left: 2rem; } }

.bx--grid > .bx--row {
  display: flex;
  flex-wrap: wrap; }

.bx--col-sm-0 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-sm-1 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-sm-2 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-sm-3 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-sm-4 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

@media only screen and (min-width: 20rem) {
  .bx--col-sm-0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .bx--offset-sm-0 {
    margin-left: 0%; }
  .bx--col-sm-1 {
    flex: 0 0 25%;
    max-width: 25%; }
  .bx--offset-sm-1 {
    margin-left: 25%; }
  .bx--col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%; }
  .bx--offset-sm-2 {
    margin-left: 50%; }
  .bx--col-sm-3 {
    flex: 0 0 75%;
    max-width: 75%; }
  .bx--offset-sm-3 {
    margin-left: 75%; }
  .bx--col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%; }
  .bx--offset-sm-4 {
    margin-left: 100%; } }

.bx--col-md-0 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-1 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-2 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-3 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-4 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-5 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-6 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-7 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-md-8 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

@media only screen and (min-width: 42rem) {
  .bx--col-md-0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .bx--offset-md-0 {
    margin-left: 0%; }
  .bx--col-md-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .bx--offset-md-1 {
    margin-left: 12.5%; }
  .bx--col-md-2 {
    flex: 0 0 25%;
    max-width: 25%; }
  .bx--offset-md-2 {
    margin-left: 25%; }
  .bx--col-md-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .bx--offset-md-3 {
    margin-left: 37.5%; }
  .bx--col-md-4 {
    flex: 0 0 50%;
    max-width: 50%; }
  .bx--offset-md-4 {
    margin-left: 50%; }
  .bx--col-md-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%; }
  .bx--offset-md-5 {
    margin-left: 62.5%; }
  .bx--col-md-6 {
    flex: 0 0 75%;
    max-width: 75%; }
  .bx--offset-md-6 {
    margin-left: 75%; }
  .bx--col-md-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%; }
  .bx--offset-md-7 {
    margin-left: 87.5%; }
  .bx--col-md-8 {
    flex: 0 0 100%;
    max-width: 100%; }
  .bx--offset-md-8 {
    margin-left: 100%; } }

.bx--col-lg-0 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-1 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-2 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-3 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-4 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-5 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-6 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-7 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-8 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-9 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-10 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-11 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-12 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-13 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-14 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-15 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-lg-16 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

@media only screen and (min-width: 66rem) {
  .bx--col-lg-0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .bx--offset-lg-0 {
    margin-left: 0%; }
  .bx--col-lg-1 {
    flex: 0 0 6.25%;
    max-width: 6.25%; }
  .bx--offset-lg-1 {
    margin-left: 6.25%; }
  .bx--col-lg-2 {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .bx--offset-lg-2 {
    margin-left: 12.5%; }
  .bx--col-lg-3 {
    flex: 0 0 18.75%;
    max-width: 18.75%; }
  .bx--offset-lg-3 {
    margin-left: 18.75%; }
  .bx--col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%; }
  .bx--offset-lg-4 {
    margin-left: 25%; }
  .bx--col-lg-5 {
    flex: 0 0 31.25%;
    max-width: 31.25%; }
  .bx--offset-lg-5 {
    margin-left: 31.25%; }
  .bx--col-lg-6 {
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .bx--offset-lg-6 {
    margin-left: 37.5%; }
  .bx--col-lg-7 {
    flex: 0 0 43.75%;
    max-width: 43.75%; }
  .bx--offset-lg-7 {
    margin-left: 43.75%; }
  .bx--col-lg-8 {
    flex: 0 0 50%;
    max-width: 50%; }
  .bx--offset-lg-8 {
    margin-left: 50%; }
  .bx--col-lg-9 {
    flex: 0 0 56.25%;
    max-width: 56.25%; }
  .bx--offset-lg-9 {
    margin-left: 56.25%; }
  .bx--col-lg-10 {
    flex: 0 0 62.5%;
    max-width: 62.5%; }
  .bx--offset-lg-10 {
    margin-left: 62.5%; }
  .bx--col-lg-11 {
    flex: 0 0 68.75%;
    max-width: 68.75%; }
  .bx--offset-lg-11 {
    margin-left: 68.75%; }
  .bx--col-lg-12 {
    flex: 0 0 75%;
    max-width: 75%; }
  .bx--offset-lg-12 {
    margin-left: 75%; }
  .bx--col-lg-13 {
    flex: 0 0 81.25%;
    max-width: 81.25%; }
  .bx--offset-lg-13 {
    margin-left: 81.25%; }
  .bx--col-lg-14 {
    flex: 0 0 87.5%;
    max-width: 87.5%; }
  .bx--offset-lg-14 {
    margin-left: 87.5%; }
  .bx--col-lg-15 {
    flex: 0 0 93.75%;
    max-width: 93.75%; }
  .bx--offset-lg-15 {
    margin-left: 93.75%; }
  .bx--col-lg-16 {
    flex: 0 0 100%;
    max-width: 100%; }
  .bx--offset-lg-16 {
    margin-left: 100%; } }

.bx--col-xl-0 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-1 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-2 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-3 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-4 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-5 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-6 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-7 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-8 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-9 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-10 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-11 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-12 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-13 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-14 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-15 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-xl-16 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

@media only screen and (min-width: 82rem) {
  .bx--col-xl-0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .bx--offset-xl-0 {
    margin-left: 0%; }
  .bx--col-xl-1 {
    flex: 0 0 6.25%;
    max-width: 6.25%; }
  .bx--offset-xl-1 {
    margin-left: 6.25%; }
  .bx--col-xl-2 {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .bx--offset-xl-2 {
    margin-left: 12.5%; }
  .bx--col-xl-3 {
    flex: 0 0 18.75%;
    max-width: 18.75%; }
  .bx--offset-xl-3 {
    margin-left: 18.75%; }
  .bx--col-xl-4 {
    flex: 0 0 25%;
    max-width: 25%; }
  .bx--offset-xl-4 {
    margin-left: 25%; }
  .bx--col-xl-5 {
    flex: 0 0 31.25%;
    max-width: 31.25%; }
  .bx--offset-xl-5 {
    margin-left: 31.25%; }
  .bx--col-xl-6 {
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .bx--offset-xl-6 {
    margin-left: 37.5%; }
  .bx--col-xl-7 {
    flex: 0 0 43.75%;
    max-width: 43.75%; }
  .bx--offset-xl-7 {
    margin-left: 43.75%; }
  .bx--col-xl-8 {
    flex: 0 0 50%;
    max-width: 50%; }
  .bx--offset-xl-8 {
    margin-left: 50%; }
  .bx--col-xl-9 {
    flex: 0 0 56.25%;
    max-width: 56.25%; }
  .bx--offset-xl-9 {
    margin-left: 56.25%; }
  .bx--col-xl-10 {
    flex: 0 0 62.5%;
    max-width: 62.5%; }
  .bx--offset-xl-10 {
    margin-left: 62.5%; }
  .bx--col-xl-11 {
    flex: 0 0 68.75%;
    max-width: 68.75%; }
  .bx--offset-xl-11 {
    margin-left: 68.75%; }
  .bx--col-xl-12 {
    flex: 0 0 75%;
    max-width: 75%; }
  .bx--offset-xl-12 {
    margin-left: 75%; }
  .bx--col-xl-13 {
    flex: 0 0 81.25%;
    max-width: 81.25%; }
  .bx--offset-xl-13 {
    margin-left: 81.25%; }
  .bx--col-xl-14 {
    flex: 0 0 87.5%;
    max-width: 87.5%; }
  .bx--offset-xl-14 {
    margin-left: 87.5%; }
  .bx--col-xl-15 {
    flex: 0 0 93.75%;
    max-width: 93.75%; }
  .bx--offset-xl-15 {
    margin-left: 93.75%; }
  .bx--col-xl-16 {
    flex: 0 0 100%;
    max-width: 100%; }
  .bx--offset-xl-16 {
    margin-left: 100%; } }

.bx--col-max-0 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-1 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-2 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-3 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-4 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-5 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-6 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-7 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-8 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-9 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-10 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-11 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-12 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-13 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-14 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-15 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

.bx--col-max-16 {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

@media only screen and (min-width: 99rem) {
  .bx--col-max-0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .bx--offset-max-0 {
    margin-left: 0%; }
  .bx--col-max-1 {
    flex: 0 0 6.25%;
    max-width: 6.25%; }
  .bx--offset-max-1 {
    margin-left: 6.25%; }
  .bx--col-max-2 {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .bx--offset-max-2 {
    margin-left: 12.5%; }
  .bx--col-max-3 {
    flex: 0 0 18.75%;
    max-width: 18.75%; }
  .bx--offset-max-3 {
    margin-left: 18.75%; }
  .bx--col-max-4 {
    flex: 0 0 25%;
    max-width: 25%; }
  .bx--offset-max-4 {
    margin-left: 25%; }
  .bx--col-max-5 {
    flex: 0 0 31.25%;
    max-width: 31.25%; }
  .bx--offset-max-5 {
    margin-left: 31.25%; }
  .bx--col-max-6 {
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .bx--offset-max-6 {
    margin-left: 37.5%; }
  .bx--col-max-7 {
    flex: 0 0 43.75%;
    max-width: 43.75%; }
  .bx--offset-max-7 {
    margin-left: 43.75%; }
  .bx--col-max-8 {
    flex: 0 0 50%;
    max-width: 50%; }
  .bx--offset-max-8 {
    margin-left: 50%; }
  .bx--col-max-9 {
    flex: 0 0 56.25%;
    max-width: 56.25%; }
  .bx--offset-max-9 {
    margin-left: 56.25%; }
  .bx--col-max-10 {
    flex: 0 0 62.5%;
    max-width: 62.5%; }
  .bx--offset-max-10 {
    margin-left: 62.5%; }
  .bx--col-max-11 {
    flex: 0 0 68.75%;
    max-width: 68.75%; }
  .bx--offset-max-11 {
    margin-left: 68.75%; }
  .bx--col-max-12 {
    flex: 0 0 75%;
    max-width: 75%; }
  .bx--offset-max-12 {
    margin-left: 75%; }
  .bx--col-max-13 {
    flex: 0 0 81.25%;
    max-width: 81.25%; }
  .bx--offset-max-13 {
    margin-left: 81.25%; }
  .bx--col-max-14 {
    flex: 0 0 87.5%;
    max-width: 87.5%; }
  .bx--offset-max-14 {
    margin-left: 87.5%; }
  .bx--col-max-15 {
    flex: 0 0 93.75%;
    max-width: 93.75%; }
  .bx--offset-max-15 {
    margin-left: 93.75%; }
  .bx--col-max-16 {
    flex: 0 0 100%;
    max-width: 100%; }
  .bx--offset-max-16 {
    margin-left: 100%; } }

/**
 * Generic helper column that will automatically span as much space as possible
 * given the number of `.col` descendants there are in a row.
 */
.bx--grid > .bx--row > .bx--col {
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem; }

/**
 * Utility classes for alignment of items within a row.
 */
.bx--grid > .bx--row.bx--align-top {
  align-items: flex-start; }

.bx--grid > .prefix--row.bx--align-bottom {
  align-items: flex-end; }

.bx--grid > .prefix--row.bx--align-center {
  align-items: center; }

.bx--grid > .prefix--row.bx--align-stretch {
  align-items: stretch; }
