@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/utilities';
// @import '@carbon/layout/scss/key-height';
// @import '@carbon/layout/scss/spacing';
@import '../../scss/grid';

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// $default-margin: map-deep-get($breakpoints, sm, margin);
// $default-gutter: map-deep-get($breakpoints, sm, gutter);

// .grid {
// width: 100%;
// max-width: 100%;
// margin-right: auto;
// margin-left: auto;
// }

// .row {
// margin-right: $default-margin;
// margin-left: $default-margin;
// display: flex;
// flex-wrap: wrap;
// // margin-right: $default-gutter * -1;
// // margin-left: $default-gutter * -1;
// @each $name, $values in $breakpoints {
// @include breakpoint($name) {
// $margin: map-get($values, margin);
// $gutter: map-get($values, gutter);
// margin-right: #{$margin};
// margin-left: #{$margin};
// }
// }
// }

// $padding: 1rem;

// @mixin make-column-ready($breakpoint) {
// $gutter: map-get($breakpoint, gutter);

// position: relative;
// width: 100%;

// .grid & {
// padding-right: $gutter;
// padding-left: $gutter;
// }

// .grid.grid--collapsed & {
// padding-right: 0;
// padding-left: 0;
// }

// .grid.grid--condensed & {
// padding-left: 1px;
// padding-right: 1px;
// }

// &.col--hang {
// padding-left: 0;
// }

// [dir='rtl'] &.col--hang {
// padding-left: $gutter;
// padding-right: 0;
// }
// }

// @each $name, $values in $breakpoints {
// $columns: map-get($values, columns);
// $gutter: map-get($values, gutter);

// .col-#{$name},
// .col-#{$name}-auto {
// @include make-column-ready($values);
// }

// @for $i from 1 through $columns {
// .col-#{$name}-#{$i} {
// @include make-column-ready($values);
// }
// }

// @include breakpoint($name) {
// @for $i from 1 through $columns {
// .col-#{$name}-#{$i} {
// flex: 0 0 percentage($i / $columns);
// max-width: percentage($i / $columns);
// }
// }
// }
// }

// // Padding
// .padding--all {
// padding: $padding;
// }

// .padding--h {
// padding: 0 $padding;
// }

// .padding--v {
// padding: $padding 0;
// }

// [class*='col'].padding--pull {
// padding-left: 0;
// }

// [dir='rtl'] [class*='col'].padding--pull {
// padding-left: unset;
// padding-right: 0;
// }

// Demo-specific
.outside {
  background-color: #dbeaff;
  outline: 1px solid #97c1ff;
  height: 80px;
}

.inside {
  background-color: #edf4ff;
  height: 100%;
}

[class*='col'] {
  outline: 1px dashed #97c1ff;
}

.bx--grid {
  outline: 1px dashed #97c1ff;
}

.bx--grid.bx--grid--condensed {
  background: #000000;
  color: white;
  outline: none;
}

.bx--grid.bx--grid--condensed [class*='col'] {
  outline: none;
}

.bx--grid--condensed .outside {
  background: #282828;
  outline: none;
}

.bx--grid--condensed .inside {
  background: #3d3d3d;
}
