@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/utilities';
@import 'prefix';

//----------------------------------------------------------------------------
// Grid
//----------------------------------------------------------------------------
.#{$prefix}--grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @each $name, $value in $breakpoints {
    @include breakpoint($name) {
      padding-left: map-get($value, margin);
      padding-right: map-get($value, margin);
      max-width: map-get($value, width);
    }
  }
}

//----------------------------------------------------------------------------
// Row
//----------------------------------------------------------------------------
.#{$prefix}--row {
  display: flex;
  flex-wrap: wrap;
}

//----------------------------------------------------------------------------
// Column
//----------------------------------------------------------------------------
@mixin make-column-ready() {
  width: 100%;
  // flex: 1 0 100%;

  .#{$prefix}--grid--padding & > * {
    padding: 1rem;
  }

  .#{$prefix}--grid--bleed & {
    padding-left: 0;
    padding-right: 0;
  }

  .#{$prefix}--grid--hang & > * {
    padding-left: 0;
  }

  [dir='rtl'] .#{$prefix}--grid--hang & > * {
    padding-right: 0;
    padding-left: unset;
  }

  .#{$prefix}--grid--condensed & {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.#{$prefix}--col {
  @include make-column-ready();
}

@each $name, $value in $breakpoints {
  $columns: map-get($value, columns);
  $gutter: map-get($value, gutter);

  .#{$prefix}--col-#{$name} {
    @include make-column-ready();
    padding-right: $gutter;
    padding-left: $gutter;
  }

  @for $i from 1 through $columns {
    .#{$prefix}--col-#{$name}-#{$i} {
      @include make-column-ready();
      padding-right: $gutter;
      padding-left: $gutter;
    }
  }

  @include breakpoint($name) {
    .#{$prefix}--col,
    .#{$prefix}--col-#{$name} {
      flex: 1 1 0%;
      padding-right: $gutter;
      padding-left: $gutter;
    }

    @for $i from 1 through $columns {
      .#{$prefix}--col-#{$name}-#{$i} {
        flex: 0 0 percentage($i / $columns);
        max-width: percentage($i / $columns);
      }

      .#{$prefix}--offset-#{$name}-#{$i} {
        margin-left: percentage($i / $columns);
      }
    }
  }
}
