@import '@carbon/layout/scss/breakpoint';
@import 'prefix';

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1 * $gutter;
  margin-left: -1 * $gutter;
}

// .#{$prefix}--row {
// @include make-row();
// }
