//---------------------------------------
// Carbon Components
//---------------------------------------
$feature-flags: (
  ui-shell: true,
  components-x: true,
);
@import 'carbon-components/scss/globals/scss/styles.scss';
