$typescale: (
  0.75rem,
  0.875rem,
  1rem,
  1.125rem,
  1.25rem,
  1.5rem,
  1.75rem,
  2rem,
  2.25rem,
  2.625rem,
  3rem,
  3.375rem,
  3.75rem,
  4.25rem,
  4.75rem,
  5.25rem,
  5.75rem
);

@mixin get-type-size($step) {
  @if map-has-key($typescale-map, $step) {
    font-step: map-get($typescale-map, $step);
  } @else {
    @warn 'This is not a step of the Carbon Type Scale';
  }
}
