@import 'variables';
@import 'functions';

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media only screen and (min-width: map-get($breakpoint, min-width)) {
      @content;
    }
  } @else {
    @error 'Breakpoint not found for size: #{$size}';
  }
}

@mixin columns($size) {
  $columns: map-deep-get($breakpoints, $size, columns);
  $padding: map-deep-get($breakpoints, $size, padding);

  @for $i from 0 through $columns {
    .#{$prefix}--col-#{$size}-#{$i} {
      position: relative;
      width: 100%;
      flex: 1 1 0%;
      padding-right: $padding;
      padding-left: $padding;
    }
  }

  @include breakpoint($size) {
    @for $i from 0 through $columns {
      $col-width: (100% / $columns) * $i;
      .#{$prefix}--col-#{$size}-#{$i} {
        flex: 0 0 $col-width;
        max-width: $col-width;
      }

      .#{$prefix}--offset-#{$size}-#{$i} {
        margin-left: $col-width;
      }
    }
  }
}
