@import 'variables';
@import 'functions';

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    $smallest: nth(nth($breakpoints, 1), 1);

    @if $smallest == $size {
      @content;
    } @else {
      @media only screen and (min-width: map-get($breakpoint, min-width)) {
        @content;
      }
    }
  } @else {
    @error 'Breakpoint not found for size: #{$size}';
  }
}

@mixin columns($size) {
  $columns: map-deep-get($breakpoints, $size, columns);
  $padding: map-deep-get($breakpoints, $size, padding);

  @include breakpoint($size) {
    @for $i from 0 through $columns {
      $col-width: (100% / $columns) * $i;
      .#{$prefix}--col-#{$size}-#{$i} {
        flex: 0 0 $col-width;
        max-width: $col-width;
      }

      .#{$prefix}--offset-#{$size}-#{$i} {
        margin-left: $col-width;
      }
    }
  }
}
